
<div id="centrador">
    <br>
<div class="card">
<audio src="assets/relajacion.mp3" autoplay loop>
<p>Tu navegador no implementa el elemento audio</p>
</audio>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="assets/yoga.jpg" class="d-block w-100" alt="Responsive image">
        <div class="carousel-caption d-none d-md-block">
            <h5><b>Conócete</b></h5>
            <p>Libérate de miedos y ataduras a través de la meditación.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="assets/tarot5.jpg" class="d-block w-100" alt="Responsive image">
        <div class="carousel-caption d-none d-md-block">
            <h5>Conoce tu ángel guardián</h5>
            <p>Contacta con tu ser supremo y libera tu espíritu.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="assets/tarot4.jpg" class="d-block w-100" alt="Responsive image">
        <div class="carousel-caption d-none d-md-block">
            <h5>Lectura del tarot</h5>
            <p>Conoce por medio de la lectura del tarot las sintonías con tu ser.</p>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Antes</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
    </div>
</div>
    </div>
    <div class="fondo-redes">
            <footer class="contenedor">
                <div class="redes-sociales">
                    <div class="contenedor-icono">
                        <a href="https://www.facebook.com/milelon/" target="_blank" class="facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </footer>
    </div>
    <br>
    <div class="card-group">
    <div class="card border-dark mb-5">

        
        <div class="card-body">
        <h4 class="card-title">¡Hola!</h4>
        <p class="card-text">¿Quieres saber cual es tu Ángel protector o guardián?
Tus ángeles te cuidan, te observan y   orientan en el amor, trabajo dinero y salud y quieren que tu lo sepas.
Su misión es protegerte, solo debes estar atento a las señales y escuchar lo que quieren decirte.</p>
        
    <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Consulta aqui <span class="badge badge-light"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg></span>
    </a>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
    
    <div class="card-group">
    <div class="card border-dark mb-5">
        <img src="assets/telefono.jpg" class="card-img-top" alt="Responsive image." id="imagenR">
        <div class="card-body">
        <h5 class="card-title">Teléfono de contacto:</h5>
        <p>Si deseas contactarme presiona el siguiente botón: </p>
<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Ver <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
</svg>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Teléfono de contacto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            322-513-06-29
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>

